.header{
    background-color: #363636;
}
.header a {
     color: white;
 }
.header a:hover {
  text-decoration: underline;
}

.my-card {
    display: block;
    /*background-color: #d58e32;*/
    width: 45px;
    height: 43px;
    margin: 0;

}

.my-card img {
    padding: 14px;
    background-color: #d58e32;


}

.my-card-items-count {
    width: 25px;
    height: 26px;
    margin: -10px;
}

.number-tel {
    font-family: 'Poppins', sans-serif;

}

.icon-tel {
    display: none;
}

@media only screen and (min-width: 768px) {
    .icon-tel {
        display: block;

    }

}

/*.............................modal window...............................*/
.modal-wrapper-empty {
    background-color: #666c75;
    padding: 37px;
}

.modal-body-class-empty {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 46px 20px;
    font-family: 'Poppins', sans-serif;

}

.modal-window-header {
    padding: 0 8px;
    color: #939393;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Poppins', sans-serif;

}

.modal-window-text {
    font-size: 20px;
    color: #939393;
    font-family: 'Poppins', sans-serif;
    padding: 10px;


}

.modal-window-cross {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #1a1a1a;
    color: white;
    width: 41px;
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

@media only screen and (min-width: 780px) {
    .modal-body-class-empty {
        width: 95%;
        padding: 46px 0;

    }
}

/*.................modal-window-full-card...................*/
.modal-wrapper-full {
    background-color: #666c75;
    padding: 27px;
}

.modal-body-class {
    position: relative;
    padding: 46px 20px;
}

.modal-window-full-card-product {
    border: 1px solid #cecece;
    font-family: 'Poppins', sans-serif;

}

.modal-window-full-product-title {
    font-size: 20px;
}

.modal-window-full-product-price {
    width: 104px;
    height: 36px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
}

.modal-window-full-product-price-through {
    text-decoration: line-through;
    color: #cecece;
    padding: 8px;
}

.modal-window-full-product-price-actually {
    width: 104px;
    height: 36px;
    color: white;
    box-sizing: border-box;
    background-color: #1a1a1a;
    font-size: 18px;
}

.modal-window-full-product-quantity {
    color: #1a1a1a;
    font-size: 14px;
    height: 37px;
}

.modal-window-full-card-count {
    width: 73px;
    height: 37px;
    padding: 5px;
}

.modal-window-full-card-count-plus {
    width: 40px;
    height: 37px;
    color: #d58e32;
    border: 1px solid #d58e32;
    padding: 5px;

}

.modal-window-full-card-count-minus {
    width: 40px;
    height: 37px;
    padding: 5px;


}

.modal-window-full-card-sum {
    color: #cecece;
    height: 22px;
    /*padding: 5px;*/
    margin-top: -28px;

}

.modal-window-full-card-general-sum {
    font-size: 16px;
    height: 22px;
}

.b {
    border: 1px solid black;
    margin-top: -10px;


}

.btn-modal-continue {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;

}

.btn-modal-buy {
    background-color: #d58e32;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}

.modal-total-quantity-and-sum {
    justify-content: space-between;
}

.a {
    padding: 20px 0;

}

@media only screen and (min-width: 768px) {
    .modal-window-full-product-price-block {
        display: flex;
    }

    .modal-dialog {
        max-width: 700px;
        margin: 0 auto;
    }

    .modal-wrapper-full {

        padding: 27px 50px;
    }

    .modal-window-full-product-quantity-block {
        display: flex;
    }
}

@media only screen and (min-width: 990px) {
    .a {
        display: flex;
        /*padding: 20px 0;*/
    }

    .modal-dialog {
        max-width: 1000px;
        margin: 0 auto;
    }

    .modal-total-quantity-and-sum {
        justify-content: center;
    !important;
    }
}


/*.................modal-window-full-card END...................*/
/*____________________navigation*/
.navigation {
    height: 85px;
   padding: 24px 0;
    margin: 0 0 8px 0;
    box-shadow: 0 2px 6px 0 rgba(158, 155, 158, 1);
}

.navigation a:hover{
    color:white;
}
.navigation li:hover{
    border-bottom: 1px solid white;
}
/*...............navbar...................*/
.navbar {
    position: static;
    height: 100%;
}

.icon-search {
    color: black;

}

.form-control {
    border-radius: 0 !important;
}

.nav-search {
    border: 1px solid black;
}

.navbar-collapse {
    justify-content: flex-end;
}

.my-navbar {
    position: relative;
    padding: 72px 15px 0 40px;
    top: -68px;
    left: 100%;
    height: 400px;
    z-index: 100;
    background-color: #363636;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: right;
}
.nav-link-desktop {
    color: black;
}
@media only screen and (min-width: 767px) {

    .navigation{
        padding: 0;
    }
    .nav-link {
        color: black;
        text-align: right;

    }
    .nav-item{
        padding: 21px 0;
    }
    .navigation a:hover{
        color:white;
        /*padding: 10px 0;*/
    }
    .navigation li:hover{
        background-color: #d58e32;
        border-top: 3px solid black;
        /*padding: 10px 0;*/
    }
}


/*................hamburger............*/
#nav-icon1 {
    width: 29px;
    height: 24px;
    position: relative;
    z-index: 1000;
    top: 2px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 7px;
}

#nav-icon1 span:nth-child(3) {
    top: 14px;
}

#nav-icon1.open span:nth-child(1) {

    top: 8px;
    transform: rotate(135deg);
    background: white;
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    /*position:absolute;*/
    /*z-index: 5000;*/

    top: 8px;
    transform: rotate(-135deg);
    background: white;
}

/*................hamburger............*/


/*....................menu ended.......................*/
/*................carousel.............*/
.carousel-icon:hover {
    background-color: #d58e32;
    /*border: 1px solid red;*/

}

.carousel-icon {
    position: relative;
    top: -20px;
    width: 50%;
    height: 7%;
    padding-left: 5%;
    background-color: black;
    /*margin-top: 93%;*/
    /*margin-left: 13.5%;*/
}

.carousel-icon-2 {
    left: 50%;
    top: -40px;
}

.img-carousel-wrapper {
    height: 466px;
    background-image: url("../img/top-slider/2.jpg");
    background-position: center;
    /*background-size: cover;*/
    /*overflow: hidden;*/
    background-attachment: fixed;
}

.img-carousel-wrapper-2 {
    background-image: url("../img/top-slider/1.jpg");

}

/*.........................carousel-shop-window..............*/
.carousel-shop-window {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
    margin: 127px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.carousel-shop-window-title {
    font-size: 36px;

}

.carousel-shop-window-btn {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    background-color: white;

}

/*...................carousel-shop-window ended...........................*/
/*.............................features...............................*/
.features {
    padding-top: 20px;
}

.features-item-wrapper {
    position: relative;
    padding: 20px 0 50px 0;
}

.features-item-icon {
    position: absolute;
    left: 42%;
    bottom: 144px;
    border: 1px solid black;
    width: 76px;
    height: 76px;
    background-color: white;
    padding-top: 3px;

}

.features-item-icon i {
    width: 62px;
    height: 62px;
    border: 1px solid black;
    font-size: 26px;
    text-align: center;
    margin-top: 3px;
    box-sizing: border-box;
    padding: 16px 0;
    background-color: white;
    /*left: 20px;*/
}

.features-item {
    /*position: relative;*/
    margin: 0 auto;
    width: 260px;
    text-align: center;
    padding-top: 2px;
    /*border: 1px solid red;*/
    /*margin-bottom: 20px;*/
}

.features-item-text {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #b7b7b7;
    width: 260px;
    height: 121px;
    margin: 0 auto;
    padding: 33px 0;
}

.features-item:hover > .features-item-icon > i {
    background-color: #d58e32;
    color: white;
    border: 1px solid #d58e32;

}

.features-item:hover > .features-item-text {
    color: #e0a38e;
}

.features-item:hover > .features-item-icon {
    border: 1px solid #d58e32;
}