@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&display=swap');


.container {
    margin: 0 auto;
}


/*       SECTION NAVBAR          */
.nav-item {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

/*ПОДЧЕРКИВАНИЕ*/
a {
    display: inline-block;
    color: #ffeb3b;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

a:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.navbar a:hover:after {
    width: 100%;
}


/*     SECTION GALLERY       */

#myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}

/*панель слева добавить в изброннае*/
.addList {
    position: absolute;
    top: 43%;
    left: 10px;
    z-index: 999; /* не работала на слайдере до z-index  */
}

.wishlist {
    width: 37px;
    height: 37px;
    border: 1px solid black;
}

.wishlist.active {
    color: #D58E32;
}


.addList a {
    color: black;
}
.addList a:hover {
    /*text-decoration: underline;*/
    color: #d58e32;
}




.furniture-gallery h2 {
    color: #d58e32;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

/*     TAB       */
.tab {
    color: #2a2a2a;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

/*Tab background*/
li.nav-item > a.nav-link.active {
    /*opacity: 0.7;*/
    padding: auto;
    color: #d58e32;
    background-color: #f4f5f7;
!important;
    border-color: #d58e32 #f4f5f7 #e9e9e9;
}

.nav-link {

    font-family: 'Poppins-SemiBold', '﻿Courier', '﻿AdobeInvisFont', sans-serif;
    color: rgba(42, 42, 42, 255);
    text-transform: uppercase;
}

.nav-link.active {
    color: #D58E32;
}

/*линия горизонтальная*/
.line {
    border-bottom: 3px #e2e2e2 solid;
}

.gallery-big {
    max-height: 415px;
    display: block;
    margin: 0 auto;
}

.img-min {
    max-height: 70px;
    display: block;
    margin: 0 auto;
}

.gallery-mini {
    border: #e2e2e2;
}

/*правая часть gallery*/
.gallery-two {
    background-color: #e8edf7;
}

.from {
    color: #2a2a2a;
    font-size: 18px;
}

.fromPrice {
    color: #79ae30;
    font-size: 28pt;
    font-family: 'Poppins-SemiBold', 'AdobeInvisFont', 'Courier', sans-serif;
}

.badroom {
    color: #d58e32;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.button-shop {
    text-align: center;
    width: 136px;
    height: 54px;
    background: #79ae30;
    color: #ffffff;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/*рейтинг квадрат*/
.rate-goods {
    font-family: 'Poppins', sans-serif;
}

.main-info {
    position: absolute;
    width: 222px;
    height: 104px;
    top: 66%;
    right: 1%;
    z-index: 1;
    box-shadow: 2px 5px 5px grey;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 29px solid black;
    border-right: 29px solid transparent;
}

.triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 29px solid black;
    border-left: 29px solid transparent;
    margin-left: auto;
    padding-top: 8px;
}

.price {
    width: 105px;
    height: 105px;
    position: absolute;
    top: 48%;
    left: 64%;
    z-index: 2;
    opacity: 0.8;
    border: 0 !important;
}


/*       SECTION-NEWSLETTER         */
.newsletter-section {
    margin: 0 auto;
}

.letter-height {
    /*height: 119px;*/
    /*background-color: #f2f2f2;*/
}

.newsLetter {

    font-family: 'Poppins-SemiBold', '﻿AdobeInvisFont', '﻿Courier', 'sans-serif';
    font-size: 22pt;
    color: rgba(213, 142, 50, 255);
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 20px;
    top: 2px;
    padding: 9px 8px;
    color: #D58E32;
}

.inputWithIcon input[type=email] {
    padding-left: 60px;
}

/*ВЕРТИКАЛЬНАЯ ПОЛОСА*/
.vertical-line {
    position: absolute;
    margin: 10px 0;
    left: 58px;
    top: 0;
    width: 1px;
    height: 18px;
    background-color: #BFBFBF;
}

/*     SECTION-FOOTER       */
.footer {

    background-color: #363636;
}

.footer-title {
    font-family: 'Poppins-SemiBold', 'Courier', '﻿AdobeInvisFont', sans-serif;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.footerItem {
    font-family: 'Poppins-SemiBold', 'Courier', '﻿AdobeInvisFont', sans-serif;
    font-size: 14pt;
    color: rgba(169, 169, 169, 255);
    text-align: left;
}


/*     SECTION-COPYRIGHT       */

.copyright {
    background-color: #2a2a2a;
    font-family: 'Poppins-Regular', 'Courier', 'AdobeInvisFont', sans-serif;
    font-size: 14pt;
}

/*hover icons*/
.copyright-icons i:hover {
    color: #d58e32 !important;
}


/*    @media     */

@media screen and (max-width: 480px) {
    .newsLetter {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .gallery-two {
        display: none;
    }
}